body{
    background-color: #F4EEFF;
}

#menu_container{
    display: none;
}

#hamburger{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin-top: 5px;
    background-color: black;
}

#menu{
    display: none;
}

.menu_item{
    text-align: center;
    margin-top: 10px;
    font-size: large;
    cursor: pointer;
}

header{
    width: 100%;
    height: 50px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A6B1E1;
}

.header_text{
    font-size: 1.4em;
    text-decoration: none;
    font-family: Arial;
    font-weight: bold;
    color: #F4EEFF;
}

#title{
    text-align: center;
    color: #3F72AF;
}

#product_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product{
    background-color: #9F9F9F;
    width: 90%;
    height: 500px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product_title{
    color: white;
}

.product img{
    width: 80%;
    margin: auto;
    margin-top: 0;
}

.product ul{
    height: 100px;
    align-self: flex-start;
}

@media(max-width: 1150px){
    #product_grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 1080px){
    header{
        display: none;
    }
    #menu_container{
        display: block;
    }
}

@media(max-width: 900px){
    #product_grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 700px){
    #product_grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .product img{
        width: 50%;
    }
}